.vscode/
solvers/cwipiIcoFoamPar/Make/linux64GccDPInt32Opt/
solvers/cwipiMultigridIcoFoamPar/Make/linux64GccDPInt32Opt/

lib/cwipiPstreamPar/Make/linux64GccDPInt32Opt/
lib/cwipiPstreamPar/lnInclude/
lib/cwipi0.12.0/
lib/CONES_interface/*.o
lib/hyperloc_clippings_maker

tests/cavity_test/member*/
tests/cavity_test/results/
tests/cavity_test/log

tests/cavity_test_multigrid/member*/
tests/cavity_test_multigrid/results/
tests/cavity_test_multigrid/log*
tests/cavity_test_multigrid/cwipi
tests/cavity_test_multigrid/control_variates/

tests/cavity_test_multifidelity/member*/
tests/cavity_test_multifidelity/results/
tests/cavity_test_multifidelity/log*
tests/cavity_test_multifidelity/ML_data
tests/cavity_test_multifidelity/cavity_referenceSimulation
tests/cavity_test_multifidelity/cavity.py
tests/cavity_test_multifidelity/EnKF_vs_MGEnKF.py
tests/cavity_test_multifidelity/cwipi
tests/control_variates/EnKF_TM_v2.py
tests/control_variates/cavity_orig
tests/control_variates/cavity_coarse
tests/control_variates/cavity_fine
tests/control_variates/*

tests/airfoil_naca0012/member*
tests/airfoil_naca0012/aerofoil*
tests/airfoil_naca0012/logs/*
tests/airfoil_naca0012/*.dat
tests/airfoil_naca0012/results/
tests/airfoil_naca0012/cwipi/
tests/airfoil_naca0012/log*
test/airfoil_naca0012/aerofoilNACA0012_coarse/constant/polyMesh
test/airfoil_naca0012/aerofoilNACA0012_coarse_coarse/constant/polyMesh

doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.log
doc/*.tex
doc/*.bib
doc/*.png
doc/html/*
doc/latex/*

scripts/*
archives/*
work/*
build/*

doxygen-awesome-css/.gitignore
doxygen-awesome-css/.github
doxygen-awesome-css/.git
doxygen-awesome-css/.npmignore
doxygen-awesome-css/README.md

*.o
*.dep
*.exe
*.dat
*.bak*