.vscode/
solvers/cwipiIcoFoamPar/Make/linux64GccDPInt32Opt/
solvers/cwipiSimpleFoamkEpsPar/Make/linux64GccDPInt32Opt/
solvers/cwipiPimpleFoamPar/Make/linux64GccDPInt32Opt/
lib/cwipiPstreamPar/Make/linux64GccDPInt32Opt/
lib/cwipiPstream/lnInclude/
tests/pitzDaily_test/member*/
tests/pitzDaily_test/results/
tests/pitzDaily_test/KF_coupling.o
tests/pitzDaily_test/KF_coupling.exe
tests/pitzDaily_test/log
tests/cavity_test/member*/
tests/cavity_test/results/
tests/cavity_test/KF_coupling.o
tests/cavity_test/KF_coupling.exe
tests/cavity_test/log
tests/mixerVessel2D_test/member*/
tests/mixerVessel2D_test/results/
tests/mixerVessel2D_test/KF_coupling.o
tests/mixerVessel2D_test/KF_coupling.exe
tests/mixerVessel2D_test/log*
tests/mixerVessel2D_test/dynamicCode
